/*全ファイル共通CSS*/
html{
    min-height: 100%;
    background:-webkit-linear-gradient(bottom, #20A48A, #64E3FF);
    background:-moz-linear-gradient(bottom, #20A48A, #64E3FF);
    background:-o-linear-gradient(bottom, #20A48A, #64E3FF);
    background:linear-gradient(bottom, #20A48A, #64E3FF);
}

.container{
    padding-left:40px;
    padding-right:40px;
    padding-bottom:40px
}
.container__title{
    font-size: 30px;
    font-weight:bold;
    padding-top: 30px;
    padding-bottom: 30px;
    color:white;
}
.title{
    font-size: 35px;
    font-weight:bold;
    padding-top: 30px;
    padding-bottom: 30px;
    color:white;
}
.bottom-line{
    border-bottom:solid white;
}
img{
    border-radius: 50%;
    align-self: center;
}
.name{
    font-size: 25px;
    color:white;
    text-align: center;
}
/*円グラフの回転*/
.circle-degree-90{
    transform:rotate(-90deg);
}
.text-in-circle{
    transform:rotate(90deg);
}
.arrow{
    width: auto;
    height: 100px;
}
/*スマホ向け*/
/* ウィンドウ幅が0〜479pxの場合に適用するCSS */
@media screen and ( max-width:479px )
{
    .container{
        padding-left:20px;
        padding-right:20px;
    }
    .bottom-line{
        border-bottom:solid white 1px;
    }
    img{
        width:60px;
        height:60px;
    }
    .title{
        font-size: 18px;
        padding-top: 13px;
        padding-bottom: 10px;    
    }
    .name{
        font-size:10px;
    }
    .margine-top-3-for-smartPhone{
        margin-top: 3px;
    }
    .margine-bottom-20-for-smartPhone{
        margin-bottom: 20px;
    }
    .arrow{
        height:50px;
    }
        
}