.wrap-in-record{
    display: flex;
}
.face-list__wrap{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
}
.face-list__wrap--small{
    width: 80px;
    height: 80px;
}
.face-list__wrap--margine-right{
    margin-right: 20px;
}

/*smartphone対応*/
@media screen and ( max-width:479px )
{
.face-list__wrap--small{
    width: 35px;
    height: 35px;
}
.face-list__wrap--margine-right{
    margin-right: 7px;
}
}