.todo-list {
  background-color: white;
  border-bottom: #345d5e solid;
  border-radius: 10px;
  border-radius: 20px;
}
.todo-box {
  display: flex;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 20px;
  padding-bottom: 25px;
}
.border-bottom-lightgray {
  border-bottom: solid lightgrey 1px;
}
.margine-left-todo-title {
  margin-left: 10px;
}

.yellow {
  border: solid #fbad40;
}
.green {
  border: solid #6cd236;
}
.red {
  border: solid #ff6f52;
}
.blue {
  border: solid #3490dd;
}
.pueple {
  background-color: #8252f7;
  border: solid #8252f7;
}
.pink {
  background-color: #c553f4;
  border: solid #c553f4;
}
.todo-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.todo-box > img {
  width: 50px;
  height: 50px;
}
.task {
  color: #345d5e;
  flex: 1;
  align-self: center;
  font-size: 30px;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 15px;
}
.time {
  font-size: 20px;
  color: grey;
}
@media screen and (max-width: 479px) {
  .margine-left-todo-title {
    margin-left: 5px;
  }
  .todo-box {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
  .todo-box > img {
    width: 20px;
    height: 20px;
  }
  .todo-icon {
    width: 20px;
    height: 20px;
  }
  .task {
    font-size: 15px;
    margin-left: 20px;
  }
  .time {
    font-size: 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 960px) {
  .todo-box {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }
  .todo-box > img {
    width: 30px;
    height: 30px;
  }
  .todo-icon {
    width: 30px;
    height: 30px;
  }
  .task {
    font-size: 20px;
    margin-left: 20px;
  }
  .time {
    font-size: 15px;
  }
}
